@import url("https://fonts.googleapis.com/css?family=Roboto:300,900|Lato:300,700,900");

html {
  background-color: black;
}

.landing-nasty-pigs {
  align-items: flex-end;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 10897px;
  overflow: hidden;
  padding: 13px 0;
  width: 1440px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group17 {
  align-self: flex-start;
  height: 4001px;
  margin-left: -705.19px;
  margin-top: 189px;
  position: relative;
  width: 1994px;
}

.nft-features {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 873px;
  min-height: 1278px;
  position: absolute;
  top: 2723px;
  width: 1121px;
}

.nft-features-1 {
  letter-spacing: 0;
  margin-top: 39px;
  min-height: 104px;
  width: 612px;
}

.rectangle-6-2 {
  height: 23px;
  width: 73px;
}

.overlap-group6 {
  height: 505px;
  margin-left: -23px;
  position: relative;
  width: 1151px;
}

.aliquam-tincidunt-pr-1 {
  left: 442px;
  position: absolute;
  text-align: center;
  top: 267px;
  width: 265px;
}

.span-1 {
  letter-spacing: 0;
}

.span2 {
  letter-spacing: 0.59px;
}

.rectangle {
  height: 505px;
  left: 0;
  position: absolute;
  top: 0;
  width: 393px;
}

.rectangle-2 {
  height: 505px;
  left: 758px;
  position: absolute;
  top: 0;
  width: 393px;
}

.cerdo {
  height: 251px;
  left: 72px;
  position: absolute;
  top: 24px;
  width: 245px;
}

.rectangle-1 {
  height: 505px;
  left: 379px;
  position: absolute;
  top: 0;
  width: 393px;
}

.aliquam-tincidunt-pr {
  left: 64px;
  position: absolute;
  text-align: center;
  top: 267px;
  width: 265px;
}

.aliquam-tincidunt-pr-2 {
  left: 821px;
  position: absolute;
  text-align: center;
  top: 267px;
  width: 265px;
}

.cerdo-1 {
  height: 251px;
  left: 450px;
  position: absolute;
  top: 24px;
  width: 245px;
}

.cerdo-2 {
  height: 251px;
  left: 829px;
  position: absolute;
  top: 24px;
  width: 245px;
}

.overlap-group7 {
  height: 505px;
  margin-left: -23px;
  margin-top: 20px;
  position: relative;
  width: 1151px;
}

.every-pig-is-unique {
  letter-spacing: 0;
  margin-top: 13px;
  min-height: 96px;
  width: 758px;
}

.roadmap-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 971px;
  min-height: 2518px;
  position: absolute;
  top: 0;
  width: 1009px;
}

.rectangle-6-1 {
  height: 23px;
  margin-right: 2px;
  width: 73px;
}

.overlap-group5 {
  height: 2456px;
  margin-right: -40px;
  margin-top: 39px;
  position: relative;
  width: 1049px;
}

.roadmap-2 {
  left: 395px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 0;
  width: 612px;
}

.group-30686 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 2401px;
  position: absolute;
  top: 55px;
  width: 959px;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 936px;
  margin-left: -0.16px;
  min-width: 922px;
}

.flex-col-2 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 11px;
  min-height: 790px;
  width: 461px;
}

.overlap-group2 {
  height: 381px;
  margin-right: 4.41px;
  margin-top: 209px;
  position: relative;
  width: 456px;
}

.vector-42 {
  height: 196px;
  left: 0;
  position: absolute;
  top: 185px;
  width: 322px;
}

.x10-genesis-collecti {
  left: 45px;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 0;
  width: 411px;
}

.span1 {
  line-height: 30px;
}

.x0-genesis-collectio {
  letter-spacing: 0;
  line-height: 48px;
  min-height: 200px;
  width: 411px;
}

.flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 837px;
  width: 450px;
}

.whats-app-image-2022-02-23-at-601-2 {
  height: 310px;
  margin-right: 6px;
  object-fit: cover;
  width: 444px;
}

.overlap-group1-2 {
  height: 525px;
  margin-left: 6px;
  margin-top: 2px;
  position: relative;
  width: 444px;
}

.vector-41 {
  height: 215px;
  left: 214px;
  position: absolute;
  top: 0;
  width: 52px;
}

.whats-app-image-2022-02-23-at-601-3 {
  height: 310px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 214px;
  width: 444px;
}

.overlap-group4 {
  align-self: center;
  height: 776px;
  margin-right: 4px;
  margin-top: 8px;
  position: relative;
  width: 943px;
}

.overlap-group-2 {
  height: 744px;
  left: 33px;
  position: absolute;
  top: 33px;
  width: 910px;
}

.x60-genesis-collecti {
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  text-align: right;
  top: 390px;
  width: 411px;
}

.x40-genesis-collecti {
  left: 467px;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 0;
  width: 411px;
}

.vector-44 {
  height: 197px;
  left: 422px;
  position: absolute;
  top: 185px;
  width: 322px;
}

.vector-45 {
  height: 184px;
  left: 184px;
  position: absolute;
  top: 560px;
  width: 297px;
}

.whats-app-image-2022-02-23-at-601-6 {
  height: 310px;
  left: 466px;
  object-fit: cover;
  position: absolute;
  top: 376px;
  width: 444px;
}

.whats-app-image-2022-02-23-at-601-5 {
  height: 310px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 444px;
}

.overlap-group3 {
  align-self: flex-end;
  height: 363px;
  margin-right: 9.84px;
  position: relative;
  width: 910px;
}

.x20-genesis-collecti {
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  text-align: right;
  top: 8px;
  width: 411px;
}

.vector-43 {
  height: 185px;
  left: 184px;
  position: absolute;
  top: 178px;
  width: 297px;
}

.whats-app-image-2022-02-23-at-601-4 {
  height: 310px;
  left: 466px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 444px;
}

.whats-app-image-2022-02-23-at-601-7 {
  height: 310px;
  margin-left: 5.84px;
  margin-top: 9px;
  object-fit: cover;
  width: 444px;
}

.botn-1 {
  height: 145px;
  left: 785px;
  position: absolute;
  top: 88px;
  width: 264px;
}

.group-5 {
  height: 1714px;
  left: 0;
  mix-blend-mode: lighten;
  position: absolute;
  top: 1903px;
  width: 1766px;
}

.newsletter {
  align-items: flex-start;
  display: flex;
  height: 486px;
  justify-content: flex-end;
  margin-right: -208px;
  margin-top: 160px;
  min-width: 1463px;
}

.flex-row {
  align-items: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6228e41af56cd9593d0cb62d/releases/6228e45fa997594c4e215fa8/img/rectangle-7@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 626px;
  margin-top: -50px;
  min-width: 1595px;
  padding: 165px 142px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
  margin-left: 105px;
  min-height: 222px;
  width: 550px;
}

.proin-eget-tortor-ri-1 {
  letter-spacing: 0;
  margin-top: 7px;
  min-height: 129px;
  width: 497px;
}

.subscribe-for-the-latest-news-updates {
  letter-spacing: 0;
  margin-left: 3px;
  min-height: 86px;
  width: 547px;
}

.overlap-group-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 285px;
  width: 422px;
}

.overlap-group1-1 {
  height: 202px;
  margin-top: 24px;
  position: relative;
  width: 422px;
}

.botn {
  height: 145px;
  left: 89px;
  position: absolute;
  top: 57px;
  width: 264px;
}

.rectangle-9 {
  height: 59px;
  left: 0;
  position: absolute;
  top: 0;
  width: 422px;
}

.correo-electrnico {
  left: 33px;
  letter-spacing: 0;
  position: absolute;
  top: 18px;
}

.overlap-group-1 {
  align-items: flex-start;
  display: flex;
  height: 59px;
  min-width: 422px;
  padding: 17px 32px;
}

.nombre {
  letter-spacing: 0;
  min-height: 23px;
}

.overlap-group18 {
  height: 3498px;
  margin-right: -775.81px;
  margin-top: 218px;
  position: relative;
  width: 2335px;
}

.rectangle-12 {
  height: 23px;
  left: 832px;
  position: absolute;
  top: 3100px;
  width: 73px;
}

.rectangle-6-4 {
  height: 23px;
  left: 832px;
  position: absolute;
  top: 2049px;
  width: 73px;
}

.group-6 {
  height: 1714px;
  left: 569px;
  mix-blend-mode: lighten;
  position: absolute;
  top: 544px;
  width: 1766px;
}

.the-official-launch {
  left: 358px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 2336px;
  width: 962px;
}

.overlap-group15 {
  height: 41px;
  left: 358px;
  position: absolute;
  top: 2668px;
  width: 962px;
}

.how {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 962px;
}

.vector-66-1 {
  height: 9px;
  left: 752px;
  position: absolute;
  top: 16px;
  width: 15px;
}

.vector-65-1 {
  height: 9px;
  left: 204px;
  position: absolute;
  top: 9px;
  width: 15px;
}

.overlap-group13 {
  height: 41px;
  left: 358px;
  position: absolute;
  top: 2737px;
  width: 962px;
}

.vector-66 {
  height: 9px;
  left: 678px;
  position: absolute;
  top: 13px;
  width: 15px;
}

.vector-65 {
  height: 9px;
  left: 266px;
  position: absolute;
  top: 13px;
  width: 15px;
}

.join-the-crew-get-t {
  left: 393px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 3160px;
  width: 952px;
}

.when-is-the-oficial-launch {
  left: 563px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 2109px;
  width: 612px;
}

.uncover-the-whole-story {
  align-items: flex-start;
  display: flex;
  height: 1062px;
  left: 0;
  min-width: 1439px;
  position: absolute;
  top: 0;
}

.overlap-group8 {
  align-items: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6228e41af56cd9593d0cb62d/releases/6228e45fa997594c4e215fa8/img/rectangle-7-2@1x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: -50px;
  margin-top: -50px;
  min-height: 1202px;
  padding: 134px 191px;
  width: 908px;
}

.rectangle-6-3 {
  height: 1px;
  margin-right: 222.5px;
  margin-top: 26px;
  width: 1px;
}

.lorem-ipsum-es-simpl {
  align-self: flex-end;
  letter-spacing: 0;
  margin-top: 31px;
  min-height: 603px;
  width: 413px;
}

.botn-2 {
  height: 145px;
  margin-left: 39px;
  width: 399px;
}

.uncover-the-whole-story-1 {
  letter-spacing: 0;
  margin-left: 33px;
  margin-top: 42px;
  min-height: 86px;
  width: 329px;
}

.whatsapp-image-at-container {
  height: 935px;
  margin-left: 34px;
  position: relative;
  width: 543px;
}

.whats-app-image-2022-02-23-at-601-8 {
  height: 648px;
  left: 71px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 472px;
}

.whats-app-image-2022-02-23-at-601-9 {
  height: 380px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 555px;
  width: 472px;
}

.overlap-group10 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6228e41af56cd9593d0cb62d/releases/6228e45fa997594c4e215fa8/img/rectangle-7-3@1x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: -18px;
  min-height: 626px;
  padding: 122px 581px;
  position: absolute;
  top: 1267px;
  width: 1819px;
}

.botn-3 {
  align-self: center;
  height: 145px;
  margin-right: 55px;
  width: 298px;
}

.join-follow-the-community {
  letter-spacing: 0;
  margin-top: 26px;
  min-height: 210px;
  text-align: center;
  width: 612px;
}

.overlap-group14 {
  height: 41px;
  left: 358px;
  position: absolute;
  top: 2550px;
  width: 962px;
}

.overlap-group12 {
  height: 41px;
  left: 358px;
  position: absolute;
  top: 2610px;
  width: 962px;
}

.rectangle-11 {
  height: 505px;
  left: 309px;
  position: absolute;
  top: 2993px;
  width: 1119px;
}

.botn-4 {
  height: 145px;
  left: 730px;
  position: absolute;
  top: 3303px;
  width: 298px;
}

.group-4 {
  height: 1200px;
  left: 1097px;
  mix-blend-mode: lighten;
  position: absolute;
  top: 2287px;
  width: 945px;
}

.overlap-group11 {
  height: 41px;
  left: 358px;
  position: absolute;
  top: 2492px;
  width: 962px;
}

.overlap-group16 {
  height: 41px;
  left: 358px;
  position: absolute;
  top: 2795px;
  width: 962px;
}

.overlap-group20 {
  height: 2175px;
  margin-right: -660.83px;
  position: relative;
  width: 2020px;
}

.prueba-1 {
  height: 194px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 180px;
}

.overlap-group19 {
  height: 2082px;
  left: 90px;
  position: absolute;
  top: 93px;
  width: 1930px;
}

.banner {
  height: 1780px;
  left: 97px;
  position: absolute;
  top: 21px;
  width: 1833px;
}

.men {
  align-items: center;
  display: flex;
  height: 41px;
  left: 390px;
  min-width: 344px;
  position: absolute;
  top: 0;
}

.group-30685 {
  height: 35px;
  margin-left: 17px;
  margin-top: 2.73px;
  width: 51px;
}

.roadmap {
  letter-spacing: 0.2px;
  min-height: 41px;
  width: 123px;
}

.team {
  letter-spacing: 0.2px;
  margin-left: 55px;
  min-height: 41px;
  width: 98px;
}

.video {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1096px;
  position: absolute;
  top: 986px;
  width: 1130px;
}

.overlap-group1 {
  height: 742px;
  margin-top: 46px;
  position: relative;
  width: 1126px;
}

.botn-play {
  align-items: flex-start;
  display: flex;
  height: 117px;
  justify-content: flex-end;
  left: 516px;
  min-width: 117px;
  position: absolute;
  top: 408px;
}

.overlap-group {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6228e41af56cd9593d0cb62d/releases/6228e45fa997594c4e215fa8/img/ellipse-5@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 197px;
  margin-top: -30px;
  min-width: 197px;
  padding: 64px 67px;
}

.polygon-1 {
  height: 50px;
  width: 44px;
}

.rectangle-5 {
  border-radius: 31px;
  height: 550px;
  left: 7px;
  position: absolute;
  top: 192px;
  width: 1119px;
}

.title {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 612px;
}

.proin-eget-tortor-ri {
  letter-spacing: 0;
  margin-left: 7px;
  margin-top: 62px;
  min-height: 223px;
  width: 780px;
}

.rectangle-6 {
  height: 23px;
  margin-left: 6px;
  width: 73px;
}

:root {
  --black: rgba(0, 0, 0, 1);
  --electric-violet: rgba(142, 0, 255, 1);
  --purple-pizzazz: rgba(255, 0, 229, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xxs: 14px;
  --font-size-xs: 18px;
  --font-size-s: 20px;
  --font-size-m: 24px;
  --font-size-l: 36px;
  --font-size-xl: 48px;
  --font-size-xxl: 64px;

  --font-family-lato: "Lato";
  --font-family-roboto: "Roboto";
}

.border-1px-white {
  border-width: 1px;
  border-style: solid;
  border-color: var(--white);
}
.lato-black-white-48px {
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xl);
  font-weight: 900;
  font-style: normal;
}
.roboto-black-white-64px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-weight: 900;
  font-style: normal;
}
.lato-black-white-36px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-weight: 900;
  font-style: normal;
}
.lato-light-white-24px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-weight: 300;
  font-style: normal;
}
.lato-bold-white-18px {
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xs);
  font-weight: 700;
  font-style: normal;
}
.lato-black-white-18px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xs);
  font-weight: 900;
  font-style: normal;
}
.lato-black-electric-violet-14px {
  color: var(--electric-violet);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxs);
  font-weight: 900;
  font-style: normal;
}
.lato-black-purple-pizzazz-48px {
  color: var(--purple-pizzazz);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xl);
  font-weight: 900;
  font-style: normal;
}
.roboto-black-white-36px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 900;
  font-style: normal;
}
.lato-bold-white-18px-2 {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xs);
  font-weight: 700;
  font-style: normal;
}
.roboto-light-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 300;
  font-style: normal;
}
.lato-light-white-18px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xs);
  font-weight: 300;
  font-style: normal;
}
